<div markdown="span" class="alert alert-warning" role="alert">
<i class="fa fa-warning"></i>
<b><font color="red">Warning: This version of the ITK3 Messaging Distribution specification is currently under development, is subject to change and therefore not suitable for implementers to build to. 
The latest version of this specification for implementers to use is available from <a href="https://developer.nhs.uk/interoperability-tool-kit-itk-specification-versions/">Interoperability Toolkit  versions page</a>.
</font></b></div>
